<div class="intro">
  <div class="container">
    <div class="units-row" style="margin:0 auto;">
        <div class="unit-10">
          <img class="img-intro" src="/img/avatar.png" alt="">
        </div>
        <div class="unit-90">
          <p class="p-intro">hi</p>
        </div>
    </div>
  </div>
</div>
