<!DOCTYPE html>
<html lang="ko">
<head>
    <% include ../partials/head %>
</head>
<body>
	<!-- Navigation -->
	<% include ../partials/nav %>

	<!-- Introduction -->
	<% include ../partials/intro %>

	<!-- Content -->
	<div class="content">
		<div class="container">

      <!-- content start -->
      <div class="users">

        <div class="login">

          <form class="login_form form" action="/login" method="post">
          <fieldset>
              <legend>Login Data</legend>
              <div class="form-item">
                  <label>Email</label>
                  <input type="text" name="email" id="email" value="<%= email %>" />
              </div>

              <div class="form-item">
                  <label>
                    Password
                    <% loginError.forEach(function(e){ %>
                      <span class="error"><%= e %></span>
                    <% }); %>
                  </label>
                  <input type="password" name="password" />
              </div>

              <div class="form-item end">
                  <button type="submit" name="submit_btn" class="btn btn-single">Submit</button>
              </div>
          </fieldset>
          </form>
          <!-- <a href="javascript:history.back()">Back</a> -->
        </div>
      </div>
      <!-- //content start -->


		</div>
	</div>

	<footer>
		<% include ../partials/footer %>
	</footer>

	<!-- Javascript -->
	<% include ../partials/js %>
</body>
</html>
