<!DOCTYPE html>
<html lang="ko">
<head>
    <% include ../partials/head %>
</head>
<body>
	<!-- Navigation -->
	<% include ../partials/nav %>

	<!-- Introduction -->
	<% include ../partials/intro %>

	<!-- Content -->
	<div class="content">
		<div class="container">

      <!-- content start -->
      <div class="users">

        <div class="login">
          <h3>Login</h3>
          <form class="login_form" action="/login" method="post">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" value="<%= email %>">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" value="<%= email %>">
            <% loginError.forEach(function(e){ %>
              <p class="error_message"><%= e %></p>
            <% }); %>
            <button type="submit" class="submit_btn" name="submit_btn">Submit</button>
          </form>
          <a href="javascript:history.back()">Back</a>
        </div>
      </div>
      <!-- //content start -->


		</div>
	</div>

	<footer>
		<% include ../partials/footer %>
	</footer>

	<!-- Javascript -->
	<% include ../partials/js %>
</body>
</html>
