<!doctype html>
<html lang="ko">
<head>
  <% include ../partials/head %>
</head>
<body>
<header>
  <% include ../partials/header %>
</header>
<div class="users">
  <!-- main start -->

  <div class="show">
    <h3>User Info</h3>
    <ul>
      <li>email : <%= user.email %></li>
      <li>nickname : <%= user.nickname %></li>
    </ul>
    <a href="/">Back</a>
    <a href="/users/<%= user._id %>/edit">edit</a>
  </div>
  <script type="text/javascript" src="/js/userform.js"></script>
  <!-- main end -->
</div>
<footer>
  <% include ../partials/footer %>
</footer>
</body>
</html>
