<!DOCTYPE html>
<html lang="ko">
<head>
    <% include ../partials/head %>
</head>
<body>
	<!-- Navigation -->
	<% include ../partials/nav %>

	<!-- Introduction -->
	<% include ../partials/intro %>

	<!-- Content -->
	<div class="content">
		<div class="container">

      <!-- content start -->
      <div class="users">
        <!-- main start -->

        <div class="show">
          <h3>User Info</h3>
          <table>
          <tbody>
            <tr>
              <th>email</th>
              <td><%= user.email %></td>
            </tr>
            <tr>
              <th>nickname</th>
              <td><%= user.nickname %></td>
            </tr>
          </tbody>
          </table>

          <a href="/users/<%= user._id %>/edit" class="btn">edit</a>
        </div>
        <script type="text/javascript" src="/js/userform.js"></script>
        <!-- main end -->
      </div>
      <!-- //content start -->


		</div>
	</div>

	<footer>
		<% include ../partials/footer %>
	</footer>

	<!-- Javascript -->
	<% include ../partials/js %>
</body>
</html>
