<!DOCTYPE html>
<html lang="ko">
<head>
    <% include ../partials/head %>
</head>
<body>
	<!-- Navigation -->
	<% include ../partials/nav %>

	<!-- Introduction -->
	<% include ../partials/intro %>

	<!-- Content -->
	<div class="content">
		<div class="container">

      <!-- content start -->

      <% if(data.length){ %>
        <% data.forEach(function(e){ %>
          <!-- Post -->
  			<div class="post">
  				<!-- Heading -->
  				<a href="#"><h1><%= e.title %></h1></a>
  				<hr>
  				<div class="in-content">
  					<p>
  						<%- escape(e.body).replace(/\n/g, '<br/>') %>
  					</p>
  					<a class="read-more" href="/posts/<%= e.id %>">Read more</a>
  				</div>
  				<div class="foot-post">
  					<div class="units-row">
  					    <div class="unit-100">
  					    	<strong>date:</strong>
  					    	<%= e.createdAt.toLocaleDateString() %>
  					    </div>
  					    <div class="unit-100">
  					    	<strong>COMMENTS:</strong>
  					    	<a href="#">3</a>
  					    </div>
  					</div>
  				</div>
  			</div>
  			<!-- /post -->

        <% }) %>
      <% } else { %>
        <p>작성된 글이 없습니다.</p>
      <% }%>

      <% if(user) { %>
      <a href="/posts/new" class="btn btn-single">new</a>
      <% } %>
      <!-- //content start -->


		</div>
	</div>

	<footer>
		<% include ../partials/footer %>
	</footer>

	<!-- Javascript -->
	<% include ../partials/js %>
</body>
</html>
