<!-- views/posts/partials/show.ejs -->
<!doctype html>
<html lang="ko">
<head>
  <% include ../partials/head %>
</head>
<body>
<header>
  <% include ../partials/header %>
</header>
<div class="posts">
  <% include partials/top %>
  <!-- main start -->
  <div class="new">
    <h3>new post</h3>
    <form class="posts_form" action="/posts" method="post">
      <div class="tit">
        <label>title : <input type="text" name="post[title]" value=""></label>
      </div>
      <div class="body">
        <textarea name="post[body]" rows="8" cols="40"></textarea>
      </div>
      <div class="tool">
      <button type="submit" name="button">submit</button>
      </div>
    </form>
  </div>
  <!-- main end -->
</div>
<footer>
  <% include ../partials/footer %>
</footer>
</body>
</html>
